[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/ejs-syntax"]
	path = pack/plugins/start/ejs-syntax
	url = https://github.com/nikvdp/ejs-syntax
